@inherits LayoutComponentBase
<div class="page" style="background-color:lightgray">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a>Control de metas</a>
        </div>
        <div class="content px-4 py-0">
            @Body
        </div>
    </main>
</div>
